@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    color: #000;
    font-family: 'YuGothic',serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
img{
    max-width: 100%;
    object-fit: cover;
}
h3{
    font-weight: 700;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
}
h4{
    font-size: 20px;
    line-height: 33px;
    font-weight: 700;
}
p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

#header{
    height: 80px;
    width: 100%;
    display: flex;
}
#header .companyname{
    margin: 15px auto 15px 100px;
    display: flex;
}
.companyname img{
    width: 32px;
    height: 50px;
}
.nametext p{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.nametext-span{
    display: block;
    font-size: 15px;
}
.navi{
    margin: 18px 100px 18px auto;
    
}
.navi ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    margin: 0;
}
.navi ul li{
    margin-left: 33px;
    font-weight: 700;
    font-size: 17px;
    line-height: 33px;
}
.navi ul .navi-contact{
    background-color: #cb0000;
    color: #fff;
    font-size: 15px;
    padding: 14px 30px;
}

#about-404{
    position: relative;
}
#about-404 img{
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(50%);
}
#about-404 h3{
    color: #fff;
    position: absolute; /* 親の中で絶対配置 */
    top: 50%;           /* 縦の中央 */
    left: 50%;          /* 横の中央 */
    transform: translate(-50%, -50%); /* 真ん中にズラす */
}

.sorry{
    padding: 68px 100px 40px 100px;
}
.sorry p{
    text-align: center;
}
.sorry p span{
    display: block;
}
#backhome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    padding: 10px;
    background-color: #cb0000;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    cursor: pointer;
    margin: 0 auto 90px;
}


#footer{
    background-color: #cb0000;
    color: #fff;
    padding: 45px 20px 50px 20px;
    text-align: center;
}
#footer .footer-navi{
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 45px;
}
.footer-navi ul{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer-navi ul li{
    margin-left: 33px;
    font-weight: 700;
    font-size: 17px;
    line-height: 33px
}
.footer-navi a{
    color: #fff;
}
.footer-navi ul li:first-child{
    margin-left: 0;
}
#footer img{
    display: block;
    margin: 20px auto;
}
.copyright{
    white-space: nowrap;
    text-align: center;
    width: 100%;
}
#footer .sns ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sns li{
    margin: 0 12px;
}
.sns a img{
    width: 22px;
    height: auto;
}


.hamburger{
    display: none;
    width: 71px;
    height: 50px;
    cursor: pointer;
    background-color: #cb0000;
    z-index: 40;
}
.hamburger span{
    width: 32px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 20px;
    transition: 0.5s ease-in-out;
    border-radius: 2px;
}
.hamburger span:nth-child(1) {
  top: 15px;
}
.hamburger span:nth-child(2) {
  top: 27px;
}
.hamburger span:nth-child(3) {
  top: 39px;
}
.hamburger.active span:nth-child(1) {
    top: 24px;
  left: 21px;
  transform: rotate(-45deg);
}
.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 24px;
  transform: rotate(45deg);
}
#ham-navi{
    width: 300px;
    height: 174px;
    background-color: #cb0000;
    color: #fff;
    text-align: center;
    transform: translateY(-150%);
    transition: 0.6s;
    z-index: 30;
}
#ham-navi ul{
    width: 100%;
    color: #fff;
}
#ham-navi ul li{
    padding: 15px 0 10px 20px;
    height: 58px;
    font-size: 18px;
    line-height: 33px;
    font-weight: 700;
    text-align: left;
}
#ham-navi ul li:hover{
    background-color: #000;
}
#ham-navi ul li a{
    display: block;
    color: #fff;
}
#ham-navi.active{
    transform: translateY(0%);
}
.none{
    display: none;
}
.sp{
    display: none;
}
.sp-img{
    display: none;
}


@media  screen and (max-width:980px){
    .sp{
        display: block;
    } 
    .pc{
        display: none;
    } 
    .pc-img{
        display: none;
    }
    .sp-img{
        display: block;
        width: 100%;
        aspect-ratio: 375 / 300; 
        overflow: hidden
    }
    .sp-img img{
        width: 100%;
        height: 100%;  
        object-fit: cover;
        filter: brightness(50%);
        display: block;
    }
    #header{
        height: 50px;
        position: relative;
    }
    #header .companyname{
        margin: 9px auto 8px 20px;
    }
    .companyname img{
        width: 20px;
        height: 30px;
    }
    .nametext{
        display: flex;
        align-items: center;
        font-size: 0;
        margin-left: 6px;
    }
    .nametext p{
        font-size: 13px;
        line-height: 14px;
    }
    .nametext-span{
        display: inline;
        font-size: 13px;
        line-height: 14px;
    }
    .hamburger{
        display: block;
        position: relative;
        z-index: 50;
    }
    #ham-navi{
        position: absolute;
        top: 50px;
        right: 0;
        width: 300px;
        background-color: #cb0000;
        color: #fff;
        text-align: center;
        transform: translateY(-150%); /* 初期は上に隠す */
        transition: transform 0.3s ease;
        z-index: 40;
    }
    #ham-navi.active{
        transform: translateY(0); /* 表示 */
    }
    .navi{
        display: none;
    }
    .none{
        display: block;
    }
    #root{
        padding: 3px 0 0 20px;
    }
    #root p{
        white-space: normal;
        word-break: keep-all;
    }
    .to{
        padding: 3px 20px 0px 18px;
    }


    .sorry{
        padding: 47px 20px 10px 20px;
    }
    .sorry p{
        text-align: left;
    }
    .back-button{
        padding: 0 20px;
    }
    #backhome{
        width: 100%;
    }


    #totop{
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    #tocontact{
        width: 335px;
        margin: 0 auto;
    }
    #footer .footer-navi{
        margin-right: 26px;
        margin-left: 26px;
        margin-top: 0px;
    }
    .footer-navi ul li{
        margin-left: 29px;
    }
    #footer img{
        width: 32px;
        height: 49px;
    }
    .copyright{
        white-space: normal;
    }
    #footer .sns a img{
        width: 24px;
        height: auto;
    }
}