@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    color: #000;
    font-family: 'YuGothic',serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
img{
    max-width: 100%;
    object-fit: cover;
}
h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}
h4{
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
}

#header{
    height: 80px;
    width: 100%;
    display: flex;
}
#header .companyname{
    margin: 15px auto 15px 100px;
    display: flex;
}
.companyname img{
    width: 32px;
    height: 50px;
}
.nametext{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.nametext-span{
    display: block;
    font-size: 15px;
}
.navi{
    margin: 18px 100px 18px auto;
    
}
.navi ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    margin: 0;
}
.navi ul li{
    margin-left: 33px;
    font-weight: 700;
    font-size: 17px;
    line-height: 33px;
}
.navi ul .navi-contact{
    background-color: #cb0000;
    color: #fff;
    font-size: 15px;
    padding: 14px 30px;
}
.hamburger{
    display: none;
    width: 71px;
    height: 50px;
    cursor: pointer;
    background-color: #cb0000;
    z-index: 40;
}
.hamburger span{
    width: 32px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 20px;
    transition: 0.5s ease-in-out;
    border-radius: 2px;
}
.hamburger span:nth-child(1) {
  top: 15px;
}
.hamburger span:nth-child(2) {
  top: 27px;
}
.hamburger span:nth-child(3) {
  top: 39px;
}
.hamburger.active span:nth-child(1) {
    top: 24px;
  left: 21px;
  transform: rotate(-45deg);
}
.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 24px;
  transform: rotate(45deg);
}
#ham-navi{
    width: 300px;
    height: 174px;
    background-color: #cb0000;
    color: #fff;
    text-align: center;
    transform: translateY(-150%);
    transition: 0.6s;
    z-index: 30;
}
#ham-navi ul{
    width: 100%;
    color: #fff;
}
#ham-navi ul li{
    padding: 15px 0 10px 20px;
    height: 58px;
    font-size: 18px;
    line-height: 33px;
    font-weight: 700;
    text-align: left;
}
#ham-navi ul li:hover{
    background-color: #000;
}
#ham-navi ul li a{
    display: block;
    color: #fff;
}
#ham-navi.active{
    transform: translateY(0%);
}
.none{
    display: none;
}

#firstview{
    width: 100%;
    position: relative;
}
.FVimg img{
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(50%);
}
#firstview h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #fff;
    position: absolute; /* 親の中で絶対配置 */
    top: 50%;           /* 縦の中央 */
    left: 50%;          /* 横の中央 */
    transform: translate(-50%, -50%); /* 真ん中にズラす */
    text-align: center;
}

#mainvisual{
    padding: 70px 100px 60px 100px;
    color: #cb0000;
    text-align: center;
}
#mainvisual h2{
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
}
#mainvisual p{
    margin: 20px;
    font-size: 18px;
    line-height: 30px;
    color: #000;
}
#mainvisual img{
    margin: 15px;
    display: inline-block;
}
#mainvisual .container{
    width: 100%;
    display: flex;
    justify-content: center;
}
#mainvisual .line-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
}
.line-container::before{
    content: "";
    position: absolute;
    top: -18px;
    bottom: 20px;
    left: 50%;
    width: 3px;
    background-color: #cb0000;
    transform: translateX(-50%);
    border-radius: 2px;
}
.line-container::after{
    content: "";
    position: absolute;
    top: -18px; /* 矢印の先端位置 */
    left: 50%;
    transform: translateX(-50%)rotate(-45deg);
    width: 20px;
    height: 20px;
    border-top: 3px solid #cb0000;
    border-right: 3px solid #cb0000;
}
#mainvisual .points{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}
.text1, .text2 {
    width: 150px;
    font-size: 23px;
    line-height: 50px;
    display: block;
}
.text1 {
    font-weight: 700;
    text-align: right;
}
.text2 {
    color: #000;
    text-align: left;
}
.ellipse {
  display: block;        /* 要素の幅・高さを指定可能に */
  width: 20px;                  /* 横幅 */
  height: 20px;                 /* 縦幅 */
  background-color: #cb0000;        /* 赤色 */
  border-radius: 50% / 50%;     /* 楕円形に */
  flex-shrink: 0;
}

#text{
    background-color: #cb0000;
    color: #fff;
    text-align: center;
}
#text h3{
    padding-top: 70px;
    padding-bottom: 30px;
}
#text p{
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 60px;
}
.span{
    display: block;
}

#reason{
    padding: 65px 100px 90px 100px;
}
#reason h3{
    margin-bottom: 30px;
}
#reason .piece{
    display: flex;
    margin-bottom: 50px;
}
#reason .piece img{
    width: 350px;
    height: auto;
}
#reason .decs{
    flex-direction: column;
    display: flex;
    width: 100%;
}
#reason .decs h4{
    padding-left: 50px;
    padding-bottom: 12px;
    border-bottom: 2px solid #cb0000;
    display: block;
}
.decs p{
    padding-top: 40px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 33px;
}

#voice{
    background-color: #cb0000;
    color: #fff;
    padding: 45px 60px 115px 60px;
}
#voice h3{
    margin-bottom: 36px;
}
.slider-container{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    overflow: hidden;
}
.slider-wrapper{
    overflow: hidden;
    width: 100%;
}
.slider{
    display: flex;
    transition: transform 0.5s ease;
    padding: 0;
    margin: 0;
}
.slider li{
    flex: 0 0 calc(100% / 3); /* 常に3つ表示 */
    box-sizing: border-box;
    padding: 10px;
}
.slider li img{
    width: 100%;
    padding-right: 17px;
    padding-left: 17px;
}
.slider li h4{
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 10px;
}
.slider li p{
    text-align: left;
    font-size: 18px;
    line-height: 30px;
}
.slider img{
    max-width: 100%;
    height: auto;
    display: block;
}
#voice button.prev, button.next{
    cursor: pointer;
    font-size: 3rem;
    font-weight: bold;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    color: #fff;
    color: rgba(255, 255, 255, 0.5); /* 白＋60%不透明 */
}


#flow{
    padding: 35px 100px 50px 150px;
}
#flow .detail{
    margin-top: 58px;
    display: flex;
    gap: 45px;
}
.detail .ellipse{
    margin-top: 7px;
    position: relative;
}
.text-area{
    display: flex;
    gap: 40px;
}
.text-area h4{
    color: #cb0000;
    margin: 0;
    width: 155px;
}
.text-area p{
    margin: 0;
    flex: 1;
}
.detail-container{
    position: relative;
}
.detail-container::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 10px;
    width: 3px;
    background-color: #cb0000;
    height: 405px;
    transform: translateX(-50%);
    border-radius: 2px;
}
.detail-container::after{
    content: "";
    position: absolute;
    top: 405px; /* 矢印の先端位置 */
    left: 10px;
    transform: translateX(-50%)rotate(135deg);
    width: 20px;
    height: 20px;
    border-top: 3px solid #cb0000;
    border-right: 3px solid #cb0000;
}



#qa{
    padding: 90px 100px 70px 100px;
}
#qa h3{
    padding-bottom: 35px;
}
#qa .qa-content{
    max-width: 100%;
}
#qa .qa-mean li{
    border-top: solid 0.5px #000;
}
#qa .qa-mean li:last-child{
    border-bottom: solid 0.5px #000;
}
#qa .question{
    cursor:pointer;
    font-size: 17px;
    line-height: 30px;
    font-weight: medium;
    padding: 20px 0 15px 20px;
    position: relative;
    transition: .5s;
    text-align: left;
}
#qa .question::before, 
#qa .question::after { 
  content: '';
  width: 15px;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
  right: 5%;
  transition: .3s;
  transform: translateY(-50%);
}
#qa .question::before{
  transform: translateY(-50%) rotate(135deg);
}
#qa .question::after{
  transform: translateY(-50%) translateX(-70%) rotate(45deg);
}
#qa .question.open::before{
  transform: translateY(-50%) rotate(-135deg);
}
#qa .question.open::after{
  transform: translateY(-50%) translateX(-70%) rotate(-45deg);
}
#qa .answer{
    border-top: none;
    padding: 20px 0 15px 20px;
    display: none;
    background-color: rgba(203, 0, 0, 0.098);
    color: #cb0000;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
}
#qa .span-q{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    font-weight: 700;
    margin-right: 10px;
}
#qa .span-a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #cb0000;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    font-weight: 700;
    margin-right: 10px;
}



#blog{
    padding: 0 100px 145px 100px;
}
#blog h3{
    margin-bottom: 40px;
}
#blog ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}
#blog ul li{
    flex: 1 1 calc(33.333% - 50px);
    padding-top: 20px;
}
#blog ul li p{
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    max-width: 100%;
}
.blog-span{
    display: block;
    text-align: right;
    margin-top: 10px;
}
#blog .blog-img{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: block;
}
.blog-img img{
    width: 100%;
    height: auto;
    display: block;
}
.blog-img p{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #cb0000;
    width: 80px;
    height: 30px;
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
    align-items: center;
}
#blog a{
    text-decoration: underline;
    text-align: right;
    display: block;
    margin-top: 40px;
}

#totop{
    position: fixed;
    bottom: 90px;
    right: 115px;
    width: 68px;
    height: 68px;
    background-color: rgba(0, 0, 0, 0.502);
    border-radius: 50%;
    display: flex;               /* 中央寄せ */
    justify-content: center;     /* 横中央 */
    align-items: center;         /* 縦中央 */
    cursor: pointer;
    z-index: 1000;
    opacity: 0;                  /* 初期は非表示 */
    transition: opacity 0.3s ease;
}
#totop.show{
    opacity: 1;
}
.arrow{
    position: relative;
    width: 23px;
    height: 15px;
}
.arrow::before,
.arrow::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 5px;
    background-color: #fff; /* 矢印色 */
    top: 35%;
    left: 50%;
    transform-origin: left center;
    border-radius: 5%;
}
.arrow::before{
    transform: translateY(-50%) translateX(5%) rotate(125deg);
}
.arrow::after{
    transform: translateY(-50%) translateX(-5%) rotate(55deg);
}

#tocontact{
    background-color: #cb0000;
    width: 300px;
    height: 60px;
    margin-left: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tocontact a{
    color: #fff;
    font-size: 20px;
    line-height: 33px;
    font-weight: 700;
}
#footer{
    background-color: #cb0000;
    color: #fff;
    padding: 45px 20px 50px 20px;
    text-align: center;
}
#footer .footer-navi{
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 45px;
}
.footer-navi ul{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer-navi ul li{
    margin-left: 33px;
    font-weight: 700;
    font-size: 17px;
    line-height: 33px
}
.footer-navi a{
    color: #fff;
}
.footer-navi ul li:first-child{
    margin-left: 0;
}
#footer img{
    display: block;
    margin: 20px auto;
}
.copyright{
    white-space: nowrap;
    text-align: center;
    width: 100%;
}
#footer .sns ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sns li{
    margin: 0 12px;
}
.sns a img{
    width: 22px;
    height: auto;
}
.FV-sp-img{
    display: none;
}
.sp{
    display: none;
}

@media  screen and (max-width:980px){
    .sp{
        display: block;
    }    
    img{
        aspect-ratio: 335 / 200;
    }
    #header{
        height: 50px;
        position: relative;
    }
    #header .companyname{
        margin: 9px auto 8px 20px;
    }
    .companyname img{
        width: 20px;
        height: 30px;
    }
    .nametext{
        display: flex;
        align-items: center;
        font-size: 0;
        margin-left: 6px;
    }
    .nametext p{
        font-size: 13px;
        line-height: 14px;
    }
    .nametext-span{
        display: inline;
        font-size: 13px;
        line-height: 14px;
    }
    .hamburger{
        display: block;
        position: relative;
        z-index: 50;
    }
    #ham-navi{
        position: absolute;
        top: 50px;
        right: 0;
        width: 300px;
        background-color: #cb0000;
        color: #fff;
        text-align: center;
        transform: translateY(-150%); /* 初期は上に隠す */
        transition: transform 0.3s ease;
        z-index: 40;
    }
    #ham-navi.active{
        transform: translateY(0); /* 表示 */
    }
    .navi{
        display: none;
    }
    .none{
        display: block;
    }

    #firstview{
        padding: 37px;
    }
    .FVimg{
        display: none;
    }
    .FV-sp-img{
        display: block;
        width: 100%;
        aspect-ratio: 375 / 550; 
        overflow: hidden
    }
    .FV-sp-img img{
        width: 100%;
        height: 100%;  
        object-fit: cover;
        filter: brightness(50%);
        display: block; 
    }
    #firstview h1{
        width: 100%;
        font-size: 30px;
        line-height: 50px;
    }

    #mainvisual{
        padding: 46px 20px 35px 20px;
        width: 100%;
        line-height: 0;
    }
    #mainvisual p{
        margin-bottom: 0;
    }
    #mainvisual img{
        width: 100%;
        height: 37px;
        margin: 20px auto 40px auto;
    }
    #mainvisual .line-container{
        gap: 30px;
    }
    .line-container::before{
        top: -30px;
    }
    .line-container::after{
        top: -30px; /* 矢印の先端位置 */
    }

    #reason{
        padding: 50px 20px 0 20px;
    }
    #reason h3{
        margin-bottom: 36px;
    }
    #reason .piece{
        margin-bottom: 40px;
        flex-direction: column;
    }
    #reason .piece img{
        width: 100%;
    }
    #reason .decs h4{
        padding: 30px 0 10px 0;
    }
    .decs p{
        padding-top: 17px;
        padding-left: 0;
    }

    #voice{
        padding: 45px 20px 50px 20px;
    }
    .slider li{
        flex: 0 0 100%; 
        padding: 0;
        box-sizing: border-box;
    }
    .slider li img{
        width: 100%;
        padding: 0;
    }.slider li h4{
        padding-top: 27px;
    }
    .slider-container{
        position: relative;
    }
    #voice button.prev, 
    #voice button.next{
        position: absolute;
        top: 50%;
        font-size: 4rem;
        z-index: 40;
    }
    #voice button.prev{
        left: 0;
    }
    #voice button.next{
        right: 0;
    }

    #flow{
        padding: 46px 20px 0 20px;
    }
    #flow .detail{
        margin-top: 36px;
        gap: 15px;
    }
    .text-area{
        flex-direction: column;
        gap: 10px;
    }
    .detail-container::before{
        height: 500px;
    }
    .detail-container::after{
        top: 500px; /* 矢印の先端位置 */
    }

    #qa{
        padding: 50px 20px 50px 20px;
    }
    #qa .qa-content{
        width: 100%;
    }
    #qa .question{
        padding: 17px 47px 9px 0;
    }
    #qa .answer{
        padding: 17px 47px 9px 0;
    }
    .question-text{
        display: block;
        overflow: hidden;
    }
    #qa .span-q{
        float: left;
    }
    #qa .span-a{
        float: left;
    }
    .answer-text{
        display: block;
        overflow: hidden;
    }

    #blog{
        padding: 0 20px 130px 20px;
    }
    #blog ul{
        display: block;
        flex-direction: column;
    }
    #blog ul li{
        padding-top: 40px;
        flex: 0 0 100%;
        box-sizing: border-box;
        display: block;
        flex-direction: column;
    }
    #blog .blog-img p{
        width: 90px;
    }
    .blog-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    #blog a{
        text-align: center;
        padding-top: 40px;
        font-size: 18px;
        line-height: 30px;
        font-weight: 500;
    }

    #totop{
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    #tocontact{
        width: 335px;
        margin: 0 auto;
    }
    #footer .footer-navi{
        margin-right: 26px;
        margin-left: 26px;
        margin-top: 0px;
    }
    .footer-navi ul li{
        margin-left: 29px;
    }
    #footer img{
        width: 32px;
        height: 49px;
    }
    .copyright{
        white-space: normal;
    }
    #footer .sns a img{
        width: 24px;
        height: auto;
    }
}